@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

body,
html {
  margin: 0;
  background-image: url("");
  background-color: #ffffff;
  background-repeat: no-repeat;
}

#mainpage {
  margin: 0 auto;
}

.price {
  font-weight: 600;
}

#header {
  width: 100vw !important;
  min-width: 100vw !important;
  max-width: none;
}

.lp_trip_box {
  border-radius: 10px;
}

.lp_slider_box {
  border-radius: 15px;
}

.cc-widget--search .slides .lp_slider_box {
  border-radius: 0 !important;
}

.pagemaker-widget.cc-widget--product-table {
  padding: 15px;
}

.cc_limit_width {
  max-width: none !important;
}

#header_nav b {
  color: #ffffff;
  font-weight: 400;
}

.b_forward {
  border-radius: 5px;
}

#header {
  background-image: url("");
  background: none;
  background-size: 1920px auto;
  background-repeat: no-repeat;
  background-position: center;

  color: #1c516b;

  font-family: "robotolight", sans-serif;
}
#header > .cc_limit_width {
  position: relative;
  width: 100vw;
}
@media only screen and (min-width: 769px) {
  #header > .cc_limit_width {
    height: 220px;
  }

  #cc .slider_search #cc_lay_an {
  background-color: #e3f6ff !important;
}
}

#footer.injected-content {
  padding: 0;
}

#header_nav {
  position: relative;
  height: 27px;
}

#header_logo,
#header_img,
#header_sub,
#header_lang_switch,
#header_telephone,
#header_openinghours {
  position: absolute;
}

#header_img {
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

#header_telephone {
  top: 20px;
  right: 5%;
  top: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
  color: #243943 !important;
}
#header_openinghours {
  left: 850px;

  top: 45px;
}
#header_logo {
  left: 50px;
  top: 45px;
}

#header_lang_switch {
  padding: 5px 0px;
  bottom: 0px;
  right: 5%;
  z-index: 1001;
}

#header_nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
#menu {
  width: 100%;
  padding: 0 12px;
  background-color: #e3f6ff;
  z-index: 1000;
  display: flex;
  gap: 16px;
  padding: 16px;
}

/* Navigation */
/*Strip the ul of padding and list styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

/*Create a horizontal list with spacing*/
li {
  display: inline-block;
  float: left;
}

/*Style for menu links*/
li a {
  display: block;
  text-transform: none;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #1c516b;
  padding: 5px 8px;
  font-size: 14px;
}

li:hover a {
  background: #84c8e5;
  color: #1c516b;
}

/*Style for dropdown links*/
li:hover ul a {
  text-align: left;
  background: #97d5f0;
  color: #1c516b;
  padding: 5px 8px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
  background: #84c8e5;
  color: #1c516b;
}

/*Hide dropdown links until they are needed*/
li ul {
  display: none;
  z-index: 100;
}

li span {
  color: rgba(0, 102, 153, 1);
}

/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden,
.hidden:hover {
  display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  background-image: url("//www.cpm.cruise-ibe.com/header_cruisec/logo_nav.svg");
  background-repeat: no-repeat;
  display: none;
  height: 40px;
  width: 40px;
  background-position: 20px;
}

/*Hide checkbox*/
input[type="checkbox"] {
  display: none;
}
#menu_lang_switch {
  display: none;
}

#menu_call_button {
  display: none;

  background-image: url(https://images.cruisec.net/headers/icons/phone.svg);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

/*Show menu when invisible checkbox is checked*/

@media only screen and (max-width: 768px) {
  #header {
    height: auto;
    background-image: none;
  }

  #cc .slider_search #cc_lay_an {
    width: 100vw;
}

  #header ul li {
    display: block;
    margin-top: 5px;
  }

  #menu {
    flex-direction: column;
    padding-block: 20px !important;
  }

  #header_nav {
    position: static;
    height: 40px;
    background: #e3f6ff;
    padding-block: 2px;
  }
  #header_nav.double {
    height: 80px;
  }
  #mainpage {
    width: 100%;
  }

  .show-menu {
    display: inline-block;
    position: absolute;
    bottom: 0px;
  }
  #show-menu:checked ~ #menu {
    display: flex !important;
  }

  #menu {
    position: absolute;
    left: 0;
    top: 40px;
    bottom: auto;
    padding: 0;

    display: none;
    width: 100%;
    z-index: 1000;
  }
  #header_nav.double #menu {
    top: 80px;
  }
  #menu li {
    float: none;
    display: block;
  }
  #menu li a {
    box-sizing: border-box;

    display: block;
    width: 100%;
    padding: 8px 8px;
    font-size: 15px;
  }
  #menu li ul {
    display: none;
    position: static;
  }
  #menu li:hover ul {
    display: block;
  }
  #header_lang_switch {
    display: none;
  }
  #menu_lang_switch {
    display: block;
  }

  #header_openinghours,
  #header_telephone {
    position: static;
    display: none;
  }
  #header_logo {
    left: 50%;
    top: 0%;
    height: 100%;
    transform: translateX(-50%);
    max-width: calc(100% - 100px);
  }
  #header_logo img {
    width: auto;
    height: 100%;
  }

  #header_img {
    display: none;
  }

  #menu_call_button {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
}
@media only screen and (max-width: 500px) {
  #cc
  > div.cc_limit_width.pagemaker-widget.cc-widget--content
  > div
  > p
  > span
  > span
  > span {
font-size: 20px;
}

}

#cc .lp_trip_box div[class^="price"],
#cc .lp_double_box div[class^="price"] {
  background-color: #041a3060 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

#footer {
  padding-inline: 15px;
  max-width: none !important;
}

#footer * {
  font-weight: 500;
}

.footer-logo {
  height: 50px;
}

.footer-content {
  background-color: #e3f6ff;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.header-socials {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.social {
  text-decoration: none;
  color: #243943;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.social2 {
  text-decoration: none;
  fill: #243943;
  background-color: #fff;
  width: 41px;
  height: 41px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social2:hover {
  background-color: #243943;
  fill: #fff;
}

.social:hover {
  background-color: #243943;
  color: #fff;
}

@media (max-width: 950px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 650px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer-socials {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }

  .social {
    text-align: center;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footer-logo {
    height: 32px;
  }
  .footer-socials {
    grid-template-columns: 1fr;
  }
}

.textbox {
  padding: 15px !important;
  font-family: "Poppins", sans-serif !important;
  color: #243943;
  margin-block: 32px;
}
#cc
  > div.cc_limit_width.pagemaker-widget.cc-widget--content
  > div
  > p
  > span
  > span
  > span {
  font-family: "Poppins", sans-serif !important;
  color: #243943 !important;
}

#header li a {
  display: block;
  text-transform: none;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-size: 14px;
  text-decoration: none;
  color: #243943;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
}

#header li a b {
  color: #243943 !important;
}

#header li:hover a {
  background-color: #243943 !important;
  color: #fff !important;
}

#header li:hover b {
  color: #fff !important;
}
#header li:hover a {
  color: #fff !important;
}

/*Hover state for dropdown links*/
#header li:hover ul a:hover {
  background: #ffffff;
  color: #1c516b;
}

/*Hide dropdown links until they are needed*/
#header li ul {
  padding-top: 10px;
}

#header ul li {
  display: inline-block;
}

#header_openinghours {
  display: none;
}
#cc .slider_search #cc_lay_an {
  background-color: #fbfbfbaa !important;
  backdrop-filter: blur(10px);
}

#search .lay_01 > h2 {
  color: #243943 !important;
}

#cc .searchbutton {
  border: none !important;
  background-color: #ffffff9c !important;
}
#cc .searchbutton:hover {
  background: #243943 !important;
  color: #ffffff !important;
}

#header a {
  text-decoration: none;
  color: #243943 !important;
}

.lp_ss_box03_inlay {
  background: #e3f6ff;
  border-radius: 10px;
}

.cc-widget--search {
position: relative;
    z-index: 20;
}

  

@media only screen and (max-width: 769px) {


  #cc .slider_search #cc_lay_an {
  background-color: #e3f6ff !important;
}
}

ul#menu {
    border-bottom: 1px solid #ffffff;
}

.cta {
  width: 100%;
  background-color: #243943;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.cta-content {
  max-width: 80%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 32px;
}

.cta-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #243943;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
}

.cta-container {
  display: flex;
  justify-content: center;
    padding-inline: 15px;
}

@media only screen and (max-width: 480px) {
#cc .lp_trip_box {
  background-size: auto !important;
}
}


.contact-link {
  color: #243943 !important;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center !important;
  gap: 6px !important;
}
.contact-link svg {
  vertical-align: middle !important;
    fill: #243943 !important;
}

.liste_box:hover {
    background: none !important
}

div.cc_limit_width.pagemaker-widget.cc-widget--contact > div > .page_content_1{
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  padding: 10px !important;
}
div.cc_limit_width.pagemaker-widget.cc-widget--contact > div > .page_content_1 > form {
  background-color: #e3f6ff !important;
  padding: 50px 100px !important;
  border-radius: 15px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
}

.cc-widget--contact .pb_text {
  text-align: center !important;
}

.cc-widget--contact .pb_box {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  box-sizing: border-box !important;
  gap: 8px !important;
}

.cc-widget--contact .pb_field, .cc-widget--contact .pb_field > input, .cc-widget--contact .pb_field > textarea, .cc-widget--contact .pb_field > select {
  width: 100% !important;
  box-sizing: border-box !important;
}

.cc-widget--contact .pb_field > input, .cc-widget--contact select {
  outline: none !important ;
  border: none !important ;
  padding: 8px 10px !important;
  border-radius: 5px !important;
  text-align: center !important;
}

.cc-widget--contact .pb_field > textarea {
    outline: none !important;
  border: none !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
}

.cc-widget--contact .pb_field  select {
  width: 100% !important;
}

.cc-widget--contact .pb_field_03 {
  margin-top: 15px !important;
}

.cc-widget--contact .pb_field > input[type="submit"] {
  background-color: #243943 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}


@media only screen and (max-width: 400px) {
div.cc_limit_width.pagemaker-widget.cc-widget--contact > div > .page_content_1 > form {
  width: 100% !important;
  padding: 0 !important;
}
}

 * {
  box-sizing: border-box !important;
 }

 @media only screen and (max-width: 600px) {
div.cc_limit_width.pagemaker-widget.cc-widget--contact > div > .page_content_1 > form {
  width: 100% !important; 
  padding: 10px 30px !important;
}
}





.cc-widget--contact input {
  background-color: #ffffff !important;
  color: #243943 !important;
}
.cc-widget--contact input:focus {
  background-color: #ffffff !important;
    color: #243943 !important;
}



.cc-widget--contact select {
    background-color: #ffffff !important;
    color: #243943 !important;
  width: 100% !important;
}

.cc-widget--contact textarea {
      background-color: #ffffff !important;
      color: #243943 !important;
}

.cc-widget--contact .pb_field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.cc-widget--contact .pb_field  select {
  width: 100% !important;
}
#cc .pb_field_02, #cc .pb_field_03 {
    width: 100% !important;
}

.cc-widget--contact .pb_text {
    width: 100% !important;
}

#cc input[type="submit"]{
  background-color: #243943 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}


.cc-widget--contact h1, .cc-widget--contact span, .cc-widget--contact p {
  text-align: center !important;
  color: #243943 !important;
}

@media only screen and (max-width: 400px) {
.flex-container.product-slider {
    margin-top: 40px;
    
}
}
 
.lp_ss {
  padding-inline: 15px !important;
}


@media only screen and (max-width: 768px) {

  #cc .slider_search #cc_lay_an {
    width: 100vw;
}
}

#header_logo, #header_telephone {
  display:none
}

@media only screen and (max-width: 768px) {
#header_logo {
  display: block;
}
       #header>.cc_limit_width {
            height: 40px !important;
        }
}

        #header>.cc_limit_width {
            height: 26px;
        }

[ng-controller="cruises"] {padding-top: 50px !important;}

#cc #tpm {
        background-color: #e3f6ff !important; 
}




#tpm a, #tpm i {
      color: #243943 !important;
}


#cc_lay_page .page_content_header {
        background-color: #e3f6ff !important; 
}
#cc_lay_page .page_content_header h4 {
      text-align: center;
      color: #243943 !important;
}

#cc_lay_filter {
    background-color: #e3f6ff !important;
    border-radius: 15px
}
/* #cc_lay_ship .page_box_form {

    background-color: #e3f6ff !important
} */

#cc_lay_ship .pb_field_take
{
          background-color: #243943 !important;
    color: #e3f6ff !important; 
}

#cc_lay_ship .pb_field_take > label {
        color: #e3f6ff !important; 
} 


#header-phonee {
  position: absolute;
 right: 1%;
 margin-right: 16px;
}


@media only screen and (max-width: 1090px) {
#header-phonee {
  display: none !important;
}
#phone-icon {
  display: flex !important;
}
}


@media only screen and (min-width: 1090px) {
#header-phonee {
  display: flex !important;
}
#phone-icon {
  display: none !important;
}
}